// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

// Chreative Gaming Color Scheme:
// -- Text --
$primary-dark: #20163D;
$secondary-gray: #8B8990;
$chreative-orange: #EC8600;
$home-page-cta: #ff3939;

// -- Backgrounds --
$chreative-light-orange: #FAF8F6;
$chreative-medium-orange: #FFDAA9;
