.banner {
  height: 70vh;
  margin-bottom: 32px;
}

.banner-welcome-section {
  border-radius: 158px 0px 0px 0px;
  background-color: $chreative-medium-orange;
  width: 40vw;
}

.title {
  // color: $chreative-orange;
}

.banner-image-section {
  border-radius: 0px 0px 158px 0px;
  background-image: asset-url('home_banner.png');
  background-position: center top;
  background-size: cover;
  width: 60vw;
}

.background-curves {
  border-radius: 0px 158px;
  background-color: $chreative-light-orange;
  min-height: 500px;
  padding: 80px 16px;
}

.tabs {
  width: fit-content;
  p {
  font-family: $headers-font;
  border-bottom: 2px solid #EEEDF1;
  color: $secondary-gray;
  padding: 8px;
  cursor: pointer;
  }
}

.tabs p:first-child {
  padding-left: 0;
}

.tabs p:last-child {
  padding-right: 0;
}

.tabs p:hover {
  color: $primary-dark;
  // border-bottom: 2px solid $chreative-orange;
}

.margin-bottom {
  margin-bottom: 24px;
  position: relative;
  max-width: 1000px;
}

.card-container {
  transition: all .2s ease-in-out;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.04);
  &:hover {
  transform: scale(1.01);
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.02);
  }
  &:active {
  transform: scale(.99);
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08);
  }
}

.card-long {
  display: flex;
  position: relative;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  height: 112px;
  max-width: 1000px;
  // transition: all .2s ease-in-out;
  // box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.04);
  justify-content: space-between;
}

.card-long .image-container {
  width: 136px;
  // height: 112px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-long .image-container > img {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  object-fit: scale-down;
}

.card-long .card-text {
  // flex-grow: 1;
  flex: 1 0 auto;
  padding: 16px;
}

.card-long .card-text .secondary-text p {
  margin: 0;
  color: $secondary-gray;
  margin-right: 16px;
}

.card-long .card-text .secondary-text i {
 color: $chreative-orange;
 font-size: 16px;
  margin-right: 4px;
}

.card-long h3 {
  color: $primary-dark;
  font-size: 20px;
}

.card-long p {
  font-size: 16px;
}

.card-tag {
  margin: 16px;
  padding: 4px;
  border-radius: 4px;
  align-self: flex-end;
}

.news-tag {
  background-color: #F9F5FE;
  color: #CFBAF3;
}

.blog-tag {
  background-color: #EAFBF3;
  color: #A0D0B9;
}

.forum-tag {
  background-color: #DDF0F3;
  color: #96C2C9;
}

.news-section {
  display: flex;
  flex-direction: column;
}

.absolute-bolt {
  position: absolute;
  right: 16px;
  top: 16px;
  margin-bottom: 0;
  i {
    font-size: 20px;
    color: $chreative-orange;
  }
}

.absolute-not {
  position: absolute;
  right: -8px;
  top: -8px;
  margin-bottom: 0;
  i {
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    color: $chreative-medium-orange;
    &:hover {
      color: $chreative-orange;
    }
  }
}

.absolute-gradient {
  position: absolute;
  width: 12px;
  height: 100%;
  left: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background: linear-gradient(179.97deg, rgba(255, 255, 255, 0.52) -28.84%, rgba(255, 255, 255, 0) 99.98%), #EC8600;
}




// #home-banner {
//   width: 100%;
//   height: 85vh;
//   background-image: asset-url('home_banner.png');
//   background-size: cover;
//   background-position: center top;
//   // background: lightblue;
//   // margin: 20px 0;
//   padding-bottom: 10px;
//   display: flex;
//   justify-content: center;
//   align-items: flex-end;
// }

// #news {
//   width: 100%;
//   min-height: 200px;
//   // background: grey;
//   background: rgba(253, 253, 253, 1.00);
//   box-shadow: 0 0 12px rgba(0,0,0,0.1);
//   margin-bottom: 20px;
//   padding: 20px;
//   // border: 1px solid blue;
//   display: flex;
//   flex-direction: column;
//   // justify-content: center;
//   h2 {
//     border: 1px solid rgba(0,0,0,0.1);
//     width: 105px;
//     padding: 10px 10px 0 10px;
//     margin-bottom: 0;
//     border-bottom: 0;
//     border-top-right-radius: 5px;
//   }
// }


#members-feed {
  border-top: 1px solid rgba(0,0,0,0.1);
  width: 90%;
  padding-left: 10px;
}

.homepage-news-links {
  font-size: 22px;
  color: rgba(112, 103, 103, 0.60);
  &:hover {
    color: rgba(112, 103, 103, 0.9);
  }
}

#members-feed {
  width: 100%;
  min-height: 200px;
  background: lightgrey;
  margin-bottom: 20px;
  padding: 10px;
}
