#comm-banner {
  width: 100%;
  min-height: 200px;
  background: lightblue;
  margin: 20px 0;
  padding: 10px;
}

#news {
  width: 100%;
  min-height: 200px;
  // background: grey;
  background: rgba(253, 253, 253, 1.00);
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  padding: 10px;
}

#members-feed {
  width: 100%;
  min-height: 200px;
  background: lightgrey;
  margin-bottom: 20px;
  padding: 10px;
}

.homepage-news-links {
  font-size: 22px;
  color: rgba(112, 103, 103, 0.60);
  &:hover {
    color: rgba(112, 103, 103, 0.9);
  }
}
