<div class="footer container margin-top">
  <p>© 2021 All Rights Reserved</p>
  <div class="footer-links">
    <a href="mailto:info@chreativegaming.com"><i class="fas fa-envelope"></i></a>
    <a href="https://www.instagram.com/chreativegaming/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://twitter.com/ChreativeGaming" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-twitch"></i></a>
    <a href="https://www.facebook.com/ChreativeGaming" target="_blank"><i class="fab fa-facebook-f"></i></a>
  </div>
</div>

