<div class="bg-curves-lite-r">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-8">
        <h2 class="header-colorful">Our <br><span>Purpose</span></h2>
        <p>We want to offer a place where everyone that wants a competitive community can gather. Whether it’s participating, chatting, discussing or maybe even giving new ideas for the next highly competitive game, everything is possible when you’re part of the community. We also give the opportunity to highly invested people to be part of the making of or throw some ideas for extensions, add-ons, game mechanics, etc. This makes for games where a lot of the big decisions are decided by the community itself and not only by the team of developers.</p>
      </div>
      <div class="col-12 col-md-4 d-flex justify-content-center">
        <%= image_tag "face.svg", alt: "our purpose"%>
      </div>
    </div>
  </div>
</div>

<div class="bg-curves-lite-l">
  <div class="container">
    <div class="row flex-row-reverse align-items-center">
      <div class="col-12 col-md-8">
        <h2 class="header-colorful">Our <br><span>Values</span></h2>
        <p>The company is in full expansion and is always looking for the best way to include community’s inputs into its next big games. We, at ChreativeGaming, put our hearts and cores to always deliver products that will not only be fun for developers to publish but even more so for the community to enjoy and to tweak. Our core values for the community stands in our three-word motto: Discuss, play, earn.</p>
      </div>
      <div class="col-12 col-md-4 d-flex justify-content-center">
        <%= image_tag "winner.svg", alt: "our values" %>
      </div>
    </div>
  </div>
</div>

<div class="bg-curves-lite-r">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-8">
        <h2 class="header-colorful">Our <br><span>Story</span></h2>
        <p>The company was founded by Gueshly Masson in 2020, because there was a lack of high involvement competitive community. Most game forums, that are active, are found on a third-party community platform and even when they are not, there is little to no interaction from the developers themselves.
        Being a part of multiple competitive communities himself, he has gathered the best from each of them and added on ChreativeGaming’s own flavor to it to make this incredibly lively platform for competitive gamers.</p>
      </div>
      <div class="col-12 col-md-4 d-flex justify-content-center">
        <%= image_tag "mobile.svg", alt: "our story" %>
      </div>
    </div>
  </div>
</div>

<div class="bg-curves-lite-l">
  <div class="container">
    <div class="row flex-row-reverse align-items-center">
      <div class="col-12 col-md-8">
        <h2 class="header-colorful">Our <br><span>Mission</span></h2>
        <p>Our mission is to continuously push the competitive gaming scene to the next level and eventually change all frame of minds that think that competitive gaming is not equivalent to mainstream sports or any mainstream competition. Until we’ve reached that point, we will keep on striving for that goal day after day.<br>Lastly, why ChreativeGaming with a ‘ch’ you may ask… You’ll simply have to be a member, stay tuned and see for yourself!</p>
      </div>
      <div class="col-12 col-md-4 d-flex justify-content-center">
        <%= image_tag "announcement.svg", alt: "our mission" %>
      </div>
    </div>
  </div>
</div>


