<div id="comm-banner">
  <h2>Join community</h2>
</div>

<div id="news">
  <h2>News</h2>
  <ul>
    <% unless @sticky_topics.empty? %>
      <p>Priority topics:</p>
      <% @sticky_topics.each do |topic| %>
        <li><%= topic.title %></li>
      <% end %>
    <% else %>
      <p>No priority topics</p>
    <% end %>
  </ul>
</div>

<div id="members-feed">
  <h2>Members feed</h2>
</div>

<!-- make sure you edit the attributes in the example below to match the attributes in your model. -->
<%#= simple_form_for @booking do |f| %>
      <%#= f.input :enter_date, as: :date, start_year: Date.today.year, order: [:day, :month, :year], html5: true %>
<%# end %>

