<h1>Hello Gueshly!</h1>
<p>Welcome to your home page!</p>
<p>Testing dev branch some more</p>

<!-- make sure you edit the attributes in the example below to match the attributes in your model. -->
<%#= simple_form_for @booking do |f| %>
      <%#= f.input :enter_date, as: :date, start_year: Date.today.year, order: [:day, :month, :year], html5: true %>
<%# end %>
<p>And some more...</p>
