<div id="home-banner">
  <p class="btn-gradient"><%= link_to "Join Community", new_user_session_path %></p>
</div>

<div id="news">
  <h2>News</h2>
  <div id="news-content">
    <ul>
      <% unless @published_blog_posts.empty? %>
        <% @published_blog_posts.each do |post| %>
          <li class=""><%= link_to post.title, "/blog_posts##{post.id}", class: 'homepage-news-links' %></li>
        <% end %>
      <% else %>
        <p>No news</p>
      <% end %>
    </ul>
  </div>
</div>

<div id="members-feed">
  <h2>Members feed</h2>
</div>
