<h1>Games#show</h1>

<div class="card">
</div>

<div class="card" style="width: 18rem;">
  <%= cl_image_tag @game.thumbnail.key, crop: :fill, class: 'card-img-top' %>
  <div class="card-body">
    <h5 class="card-title"><%= @game.name %></h5>
    <p class="card-text"><%= @game.description %></p>
    <a href="#" class="btn btn-primary">Download!</a>
  </div>
</div>
