<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.select(
    field.attribute,
    options_from_collection_for_select(
      field.selectable_options,
      :to_s,
      :to_s,
    ),
    {},
    # selected: field.data.presence if field.data.present?,
    include_hidden: false,
    include_blank: false,
    multiple: true,
  ) %>
</div>

<%# <%= select("social_links",:option_id, Option.all.collect {|p| [ p.name, p.id ] },
{ selected: 1 , prompt: "Please Select"}, { class: 'form-control' ,
 required:true})%>

<%# include_blank: false %>
<%# <% f.input_field :bar, :collection => { 'Opt1' => 1, 'Opt2' => 2}, :include_blank => '(All)', :multiple => true, :selected => [''] %>
