.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  color: $secondary-gray;
  // margin-top: 64px;
  p {
    margin-bottom: 0;
  }
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $secondary-gray;;
  // opacity: 0.15;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 12px;
}
.footer-links a:hover {
  opacity: 1;
  color: $primary-dark;
}

@media(max-width: 576px) {
  .footer {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
