.swiper {
  width: 550px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.gallery-top {
  .swiper-wrapper {
    height: 400px;
  }
}

.swiper-arrow {
  color: white;
}

.gallery-thumbs {
  .swiper-wrapper {
    margin-top: 5px;
    height: 150px;
  }
}

gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;

  .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .swiper-slide-thumb-active {
    opacity: 1;
  }
}
