.game-card-long {
  height: 230px;
  overflow: hidden;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.game-card-long .game-image-container {
  height: 100%;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  .game-image {
    height: 100%;
    width: 300px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-position: center;
    object-fit: cover;
    display: block;
    overflow: hidden;
    align-self: normal;
  }
}

.layer {
  object-fit: cover;
  background-size: center;
  opacity: 0.12;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

#image-text {
  text-decoration: none;
  color: #0FA958;
  font-size: 18px;
  font-weight: bold;
}

.game-card-long h3 {
  color: $primary-dark;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game-card-long p {
  font-size: 16px;
}

.game-card-long .game-card-text {
  flex: 1 0 auto;
  padding: 16px;
  max-width: 62%;
}

.game-description {
  margin-right: 16px;
}

.game-card-long .game-card-text p {
  margin: 0;
  color: $secondary-gray;
  margin-right: 16px;
}

.game-secondary-text {
  margin-top: 6px;
}

.game-card-long .game-card-text .game-secondary-text i {
  color: $chreative-orange;
  font-size: 16px;
  margin-right: 4px;
}

.game-card-long .game-card-platforms {
  margin: 12px 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

//  ---- Cards Media Queries ----
@media(max-width: 1199px) {
  .game-card-long {
    height: 196px;
    .game-card-text {
      max-width: 59%;
    }
  }
  .game-description {
    max-width: 85%;
  }
}

@media(max-width: 991px) {
  .game-card-long {
    height: auto;
    overflow: hidden;
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    .game-card-text {
      max-width: 100%;
    }
    h3 {
      white-space: normal;
    }
    .game-image-container {
      width: 100%;
      position: relative;
      height: 300px;
      .game-image {
        border-radius: 8px 8px 0 0;
        width: 100%;
        height: 100%;
      }
      .avatar-image {
        margin-top: 16px;
      }
    }
  }
}

@media(max-width: 576px) {
  .game-card-long .absolute-gradient {
    width: 8px;
  }
}
