.margin-auto {
  margin: auto;
}

.margin-top {
  margin-top: 32px;
}

.margin-bottom {
  margin-bottom: 24px;
}

.background-curves {
  border-radius: 0px 158px;
  background-color: $chreative-light-orange;
  min-height: 600px;
  padding: 80px 16px;
}

.news-section {
  display: flex;
  flex-direction: column;
}

@media(max-width: 768px) {
  .background-curves {
    border-radius: 0px 90px;
  }
}
