.navbar-chreative {
  justify-content: space-between;
  font-family: $headers-font;
  background-color: rgba(255, 255, 255, .7);
  backdrop-filter: blur(25px);
  transition: 0.5s background-color ease;
  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }
}

.navbar-chreative .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 56px;
}

.nav-item img {
  cursor: pointer;
}
