.tabs {
  width: fit-content;
  p {
    font-family: $headers-font;
    color: $secondary-gray;
    margin-right: 14px;
    cursor: pointer;
    &:only-child {
      cursor: default;
    }
  }
}

.tabs p:first-child {
  padding-left: 0;
}

.tabs p:last-child {
  padding-right: 0;
}

.tabs p:hover {
  color: $primary-dark;
}

.tabs p.tab-active {
  color: $primary-dark;
  border-bottom: 3px solid $chreative-orange;
  font-weight: bolder;
}

.content {
  display: none;
}

div.content-active {
  display: block;
}
